@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
body{
	font-family: 'Noto Sans KR', sans-serif !important;
}
/* ########################## common ##########################*/
.mw-1200 {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.title{
    font-size: 40px;
	font-weight: 700;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
}

th{
	font-weight: bold;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}


tr:nth-child(even) {
	background-color: #dddddd;
}

.component{
	margin-top: 20px;
}

.mt-30{
	margin-top: 30px !important;
}

.ml-15{
	margin-left: 15px !important;
}

.modal_title{
	padding: 0 10px;
}

.modal_exit{
	padding: 0 10px;
}

/* color */
.white{
	color: #fff;
}

/* font */
.bold{
	font-weight: bold;
}