@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    margin: 0;
    height: auto;
    box-sizing: border-box;
	min-height: 100%;
}

body{
	font-family: 'Noto Sans KR', sans-serif !important;
}
/*====================== common ======================*/
.mw-1200 {
	max-width: 1200px;
	width: 100%;
}

.title{
    font-size: 40px;
	font-weight: 700;
	user-select: none;
}

.component{
	margin-top: 20px;
}

.pointer{
	cursor: pointer;
}

/*====================== table ======================*/
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
}

th{
	font-weight: bold;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	position: relative;
}


tr:nth-child(even) {
	background-color: #dddddd;
}

/*====================== width ======================*/
@for $i from 1 through 101{
	.w_#{$i}per{
		width: ($i * 1%) !important;
	}
}


/*====================== margin ======================*/

.mt-30{
	margin-top: 30px !important;
}

.ml-15{
	margin-left: 15px !important;
}

.mr-20px{
	margin-right: 20px !important;
}

.mr-50px{
	margin-right: 50px !important;
}

/*====================== modal ======================*/

.modal_title{
	padding: 0 10px;
}

.modal_exit{
	padding: 0 10px;
}

/*====================== color ======================*/
.white{
	color: #fff;
}

/*====================== font ======================*/
.bold{
	font-weight: bold;
}

/*====================== text-align ======================*/
.txt_left{
	text-align: left;
}

.txt_right{
	text-align: right;
}

.txt_center{
	text-align: center;
}

/*====================== float ======================*/
.float_left{
	float: left;
}

.float_right{
	float: right;
}

/*====================== overflow ======================*/
.ov_hidden{
	overflow: hidden;
}

/*====================== border ======================*/
.border_bottom{
	border-bottom: 1px solid #999999;
}


/*====================== padding ======================*/
.pb-30px{
	padding-bottom: 30px;
}


/*====================== col ======================*/
.col_12{
    display: inline-block;
    width: 100%;
	padding: 10px;
}

.col_11{
    display: inline-block;
    width: calc(11 * 8.3%);
}

.col_10{
    display: inline-block;
    width: calc(10 * 8.3%);
}

.col_9{
    display: inline-block;
    width: calc(9 * 8.3%);
	padding: 10px;
}

.col_8{
    display: inline-block;
    width: calc(8 * 8.3%);
	padding: 10px;
}

.col_7{
    display: inline-block;
    width: calc(7 * 8.3%);
	padding: 10px;
}

.col_6{
    display: inline-block;
    width: calc(6 * 8.3%);
	padding: 10px;
}

.col_5{
    display: inline-block;
    width: calc(5 * 8.3%);
	padding: 10px;
}

.col_4{
    display: inline-block;
    width: calc(4 * 8.3%);
	padding: 10px;
}

.col_3{
    display: inline-block;
    width: calc(3 * 8.3%);
	padding: 10px;
}

.col_2{
    display: inline-block;
    width: calc(2 * 8.3%);
	padding: 10px;
}

.col_1{
    display: inline-block;
    width: calc(1 * 8.3%);
	padding: 10px;
}


/*====================== modal ======================*/
.fade-enter-active {
	animation: fadein 0.5s;
}

.fade-leave-active {
	animation: fadeout 0.5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}