#app{
    background-color: #eee;
}

.mw_1920{
    width: 100%;
    display: flex;
}

.sidebar{
    width: 15%;
    background-color: #fff;
    padding: 10px;

    .menu_title{
        font-size: 25px;
        font-weight: 700;
        font-family: 'Noto Sans KR', sans-serif !important;
    }

    .menu_list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .item{
        padding: 10px 5px;
        font-family: 'Noto Sans KR', sans-serif !important;
        font-size: 18px;
        border-bottom: 1px solid #eee;
    }
}

.main{
    width: 85%;
    padding: 40px 30px;
}

/*================================== vue QuillEditor ==================================*/
.ql-editor{
    background-color: #fff;
    height: 300px !important;
}